{% extends "base.html" %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<style>
    #profile_base {
        background-color: #f8f8f8;  /* Light grey background */
        padding: 20px;  /* Padding inside the container */
        border-radius: 10px;  /* Rounded corners */
        width: 88%;
        max-width: 888px;
        margin: 20px auto;  /* Centering the container */
    }

    .profile_label {
        font-size: 16px;  /* Font size */
        color: #333;  /* Text color */
        font-weight: bold;  /* Bold text */
        display: block;  /* Block-level element */
        margin-bottom: 5px;  /* Space below the label */
    }

    .profile_info {
        font-size: 14px;  /* Font size */
        color: #555;  /* Text color */
        background-color: #fff;  /* White background */
        padding: 10px;  /* Padding inside the paragraph */
        border-radius: 5px;  /* Slightly rounded corners */
        margin-bottom: 20px;  /* Space below the paragraph */
    }

    .profile_input {
        width: 100%; /* Takes the full width of its container */
        padding: 10px; /* Adds some padding inside the input */
        font-size: 16px; /* Adjusts the font size */
        margin-bottom: 20px; /* Adds some space below the input */
        border-radius: 5px; /* Slightly rounded corners */
        border: 1px solid #ccc; /* Adds a light border */
    }

    .profile_button {
        background-color: #4CAF50; /* Green background */
        color: white; /* White text */
        padding: 12px 20px; /* Padding */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        width: 100%; /* Takes the full width of its container */
    }

    .profile_button:hover {
        background-color: #45a049; /* Darker green on hover */
    }

    #messages {
        width: 88%;
        max-width: 888px;
        margin: 20px auto 0;
        border-radius: 5px;
    }

    #messages p {
        padding: 15px;
        margin: 0;
        border-radius: 5px;
        color: white;
        font-size: 16px;
    }

    #messages p.info {
        background-color: #4CAF50; /* Green background for info */
    }

    #messages p.error {
        background-color: #f44336; /* Red background for errors */
    }

    #messages p.warning {
        background-color: #ff9800; /* Orange background for warnings */
    }

    #messages p.success {
        background-color: #4CAF50; /* Green background for success */
    }
</style>


<div class="col-md-10">
    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'common:settings_base' %}">기본정보</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'common:settings_image' %}">프로필 이미지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'common:password_reset' %}">비밀번호 변경</a>
        </li>
    </ul>
    <div id="profile_base">
    <label for="email" class="profile_label">이메일</label>
    <p id="email" class="profile_info mb-4">{{ user.email }}</p>

    <label for="username" class="profile_label">유저 닉네임 (ID)</label>
    <p id="username" class="profile_info mb-4">{{ user.username }}</p>

    <form method="post" action="{% url 'common:settings_base' %}">
        {% csrf_token %}
        <label class="profile_label">한줄 소개</label>
        <input type="text" name="intro" class="profile_input mb-4" placeholder="여기에 한줄소개를 작성하세요" value="{{ user.profile.intro }}">

        <label class="profile_label">Instagram</label>
        <input type="url" name="instagram_url" class="profile_input mb-4" placeholder="Instagram URL" value="{{ user.profile.instagram_url }}">

        <label class="profile_label">Twitter</label>
        <input type="url" name="twitter_url" class="profile_input mb-4" placeholder="Twitter URL" value="{{ user.profile.twitter_url }}">

        <label class="profile_label">YouTube</label>
        <input type="url" name="youtube_url" class="profile_input mb-4" placeholder="YouTube URL" value="{{ user.profile.youtube_url }}">

        <label class="profile_label">Personal Website</label>
        <input type="url" name="personal_url" class="profile_input mb-4" placeholder="Personal URL" value="{{ user.profile.personal_url }}">
        <button type="submit">저장하기</button>
    </form>


</div>

</div>
{% endblock %}