{% extends "base.html" %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<style>
    #profile_base {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
        width: 88%;
        max-width: 888px;
        margin: 20px auto;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .profile_label {
        font-size: 18px;
        color: #333;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .profile_info {
        font-size: 14px;
        color: #555;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    }

    .profile_input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .profile_button {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .profile_button:hover {
        background-color: #45a049;
        box-shadow: 0 6px 8px rgba(0,0,0,0.15);
    }

    #messages {
        width: 88%;
        max-width: 888px;
        margin: 20px auto 0;
        border-radius: 5px;
    }

    #messages p {
        padding: 15px;
        margin: 0;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    #messages p.info {
        background-color: #4CAF50;
    }

    #messages p.error {
        background-color: #f44336;
    }

    #messages p.warning {
        background-color: #ff9800;
    }

    #messages p.success {
        background-color: #4CAF50;
    }
</style>

<div class="col-md-10">
    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'common:settings_base' %}">기본정보</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'common:settings_image' %}">프로필 이미지</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'common:password_reset' %}">비밀번호 변경</a>
        </li>
    </ul>
    <div id="profile_base">
        <h4>비밀번호 변경</h4>
        <br>
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.old_password.id_for_label }}" class="profile_label">{{ form.old_password.label }}</label>
            <input type="password" name="{{ form.old_password.name }}" class="profile_input" id="{{ form.old_password.id_for_label }}" required {{ form.old_password.field.widget.attrs }}>

            <label for="{{ form.new_password1.id_for_label }}" class="profile_label">{{ form.new_password1.label }}</label>
            <input type="password" name="{{ form.new_password1.name }}" class="profile_input" id="{{ form.new_password1.id_for_label }}" required {{ form.new_password1.field.widget.attrs }}>

            <label for="{{ form.new_password2.id_for_label }}" class="profile_label">{{ form.new_password2.label }}</label>
            <input type="password" name="{{ form.new_password2.name }}" class="profile_input" id="{{ form.new_password2.id_for_label }}" required {{ form.new_password2.field.widget.attrs }}>

            <button type="submit" class="profile_button">변경하기</button>
        </form>
    </div>
</div>
{% endblock %}
