{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
{% load static %}
<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        padding: 10px 0;  /* Adjusted padding to make it slimmer */
        font-size: 0.8rem;  /* You can adjust the font size accordingly */
    }

    .container.my-3 {
        padding-bottom: 50px;  /* Adjusted space to ensure no overlap with the footer */
    }

    .bronze {
        background-color: #CD7F32;  /* Light brown color */
    }

    .silver {
        background-color: #C0C0C0;  /* Light silver color */
    }

    .gold {
        background-color: #FFD700;  /* Light gold color */
    }

    .challenger {
        background-color: #FFA500;  /* Light orange color */
    }

    .grandmaster {
        background-color: #FF4500;  /* Light red color */
    }
</style>

<!-- Sidebar -->
<div class="col-md-2">
    <div class="list-group">
        <a href="{% url 'pybo:board_view' 'perceptive' %}" class="list-group-item list-group-item-action sidebar-item">관점공유 게시판</a>
        <a href="{% url 'pybo:board_view' 'free_board' %}" class="list-group-item list-group-item-action sidebar-item">자유게시판</a>
        <a href="{% url 'pybo:board_view' 'technical_blog' %}" class="list-group-item list-group-item-action sidebar-item">기술 블로그</a>
        <a href="{% url 'pybo:board_view' 'trading_blog' %}" class="list-group-item list-group-item-action sidebar-item">트레이딩 블로그</a>
        <a href="{% url 'pybo:indicator_view' %}" class="list-group-item list-group-item-action sidebar-item">기술 지표 페이지</a>
        <a href="{% url 'pybo:ai_indicator_view' %}" class="list-group-item list-group-item-action sidebar-item">AI 지표 페이지</a>
        <a href="{% url 'pybo:trading_bot_view' %}" class="list-group-item list-group-item-action sidebar-item">투자봇 페이지</a>
        <a href="{% url 'pybo:free_board' %}" class="list-group-item list-group-item-action sidebar-item">대회</a>
    </div>
</div>

<div class="col-md-10">
  <div class="container my-3">
  <h2>User Ranking</h2>
  <h6><a href="{% url 'common:point_policy' %}">포인트 정책</a></h6>
  <div class="card">
    <div class="card-body">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Points</th>
            <th scope="col">Tier</th>
          </tr>
        </thead>
        <tbody>
          {% for profile, rank, tier, icon in profile_list_with_tier %}
            <tr class="{% if tier == 'bronze' %}bronze{% elif tier == 'silver' %}silver{% elif tier == 'gold' %}gold{% elif tier == 'challenger' %}challenger{% elif tier == 'grandmaster' %}grandmaster{% endif %}">
                <td>{{ rank }}</td>
                <td><a href="{% url 'pybo:profile_detail' profile.user.id %}">{{ profile.user.username }}</a></td>
                <td>{{ profile.score }}</td>
                <td>
                    {% if icon %}
                        <img src="{% static icon %}" alt="{{ tier }}" title="{{ tier }}" style="width:30px; height:30px;">
                    {% else %}
                        {{ tier }}
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        {% if profiles.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ profiles.previous_page_number }}">Previous</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          <li class="page-item disabled"><span class="page-link">이전</span></li>
        {% endif %}

        {% for i in profiles.paginator.page_range %}
          {% if profiles.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if profiles.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ profiles.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ profiles.paginator.num_pages }}">&raquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">다음</span></li>
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
  </div>
  </div>
</div>
{% endblock %}
{% block script %}
<div class="footer">
    <div class="container text-center">
        <p>제휴제안: <a href="mailto:aiphabtcbusiness@gmail.com">aiphabtcbusiness@gmail.com</a></p>
    </div>
</div>
{% endblock %}