{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">활동내역</h1>
  <div class="list-group">
    {% for t in transaction_list %}
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ t.reason }}</h5>
          <small>Date: {{ t.timestamp }}</small>
        </div>
        <p class="mb-1">Points: {{ t.points }}</p>
        <p class="mb-1">Tokens: {{ t.tokens }}</p>
      </div>
    {% empty %}
      <div class="list-group-item">
        <p class="text-center">최근 기록된 활동들이 없습니다.</p>
      </div>
    {% endfor %}
  </div>
  <!-- Pagination -->
  <div class="pagination-wrapper">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if transaction_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transaction_list.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
          </li>
        {% endif %}
        {% for i in transaction_list.paginator.page_range %}
          {% if transaction_list.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if transaction_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ transaction_list.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
