.comment {
    border-top: dotted 1px #ddd;
    font-size:0.7em;
}

.sidebar-item {
    border-bottom: 2px solid #000;  /* Only the bottom border */
    margin-bottom: 12px;            /* Space between items */
    border-radius: 5px;             /* Optional: rounds the corners */
 }

.footer {
    background-color: #f8f9fa; /* Color of the banner */
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1030;
}

.footer p {
    margin: 0;
}


