{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}


<style>
    .sidebar-item {
        border-bottom: 2px solid #000;  /* Only the bottom border */
        margin-bottom: 12px;            /* Space between items */
        border-radius: 5px;             /* Optional: rounds the corners */
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        padding: 10px 0;  /* Adjusted padding to make it slimmer */
        font-size: 0.8rem;  /* You can adjust the font size accordingly */
    }

    .container.my-3 {
        padding-bottom: 50px;  /* Adjusted space to ensure no overlap with the footer */
    }

        .correlation-card {
        background-color: #f9f9f9;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .correlation-header {
        border-bottom: 2px solid #e1e1e1;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

</style>

<!-- Sidebar -->
<div class="col-md-2">
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action sidebar-item">관점공유 게시판</a>
        <a href="{% url 'pybo:board_view' 'free_board' %}" class="list-group-item list-group-item-action sidebar-item">자유게시판</a>
        <a href="{% url 'pybo:board_view' 'technical_blog' %}" class="list-group-item list-group-item-action sidebar-item">기술 블로그</a>
        <a href="{% url 'pybo:board_view' 'trading_blog' %}" class="list-group-item list-group-item-action sidebar-item">트레이딩 블로그</a>
        <a href="{% url 'pybo:indicator_view' %}" class="list-group-item list-group-item-action sidebar-item">기술 지표 페이지</a>
        <a href="#" class="list-group-item list-group-item-action sidebar-item">AI 지표 페이지</a>
        <a href="{% url 'pybo:free_board' %}" class="list-group-item list-group-item-action sidebar-item">투자봇 페이지</a>
        <a href="{% url 'pybo:free_board' %}" class="list-group-item list-group-item-action sidebar-item">대회</a>
    </div>
</div>

<div class="col-md-10">
<div class="container my-3">
    <div style="text-align; center; margin-top: 50px">
        <h2>머신러닝 지표들</h2>
        <h6>다양한 통계, 머신러닝, 딥러닝 기술을 활용하여 비트코인의 트렌드를 파악해봅니다.</h6>
    </div>

    <!-- Display correlations -->
    <div class="correlation-card">
        <div class="correlation-header">
            <h5>BTC & ETH 상관관계 분석</h5>
        </div>
        <p>피어슨 상관계수: <strong>{{ btc_eth_data.pearson|floatformat:4 }}</strong></p>
        <p>스피어만 상관계수: <strong>{{ btc_eth_data.spearman|floatformat:4 }}</strong></p>
        <p>그레인저 인과성 검정 (다양한 lag에 대한 p-값): <strong>{{ btc_eth_data.granger }}</strong></p>
        <p>공적분 검정 p-값: <strong>{{ btc_eth_data.coint|floatformat:4 }}</strong></p>
    </div>

    <div class="correlation-card">
        <div class="correlation-header">
            <h5>BTC & Gold 상관관계 분석</h5>
        </div>
        <p>피어슨 상관계수: <strong>{{ btc_gold_data.pearson|floatformat:4 }}</strong></p>
        <p>스피어만 상관계수: <strong>{{ btc_gold_data.spearman|floatformat:4 }}</strong></p>
        <p>그레인저 인과성 검정 (다양한 lag에 대한 p-값): <strong>{{ btc_gold_data.granger }}</strong></p>
        <p>공적분 검정 p-값: <strong>{{ btc_gold_data.coint|floatformat:4 }}</strong></p>
    </div>

    <div style="text-align: left; margin-top: 50px">
        <p>가장 최근 30분봉 BTCUSDT, ETHUSDT, 그리고 GC=F를 활용해서 진행한 통계 분석입니다.</p>
        <p><b>피어슨 상관계수(Pearson Correlation Coefficient)</b>: 값 범위는 -1 에서 +1. +1은 완벽한 양의 선형 관계를 나타냅니다. -1은 완벽한 음의 선형 관계를 나타냅니다. 0은 선형 관계가 없음을 나타냅니다.+1 또는 -1에 가까울수록 더 강한 선형 관계를 의미합니다.</p>
        <p><b>스피어만 상관계수(Spearman Correlation Coefficient)</b>: 값 범위는 -1 에서 +1. 피어슨과 유사하지만 스피어만은 두 변수 간의 관계를 단조 함수를 사용하여 얼마나 잘 설명할 수 있는지 평가합니다. 선형 관계일 필요는 없습니다. 데이터가 정규 분포되지 않거나 관계가 선형이 아닐 때 사용됩니다.</p>
        <p><b>그레인저 인과성 검정(Granger Causality Test)</b>: 이 검정은 한 시계열이 다른 시계열을 예측할 수 있는지 확인하는 데 사용됩니다. 출력은 검정 통계량, p-값 등을 포함하는 사전입니다. p-값이 유의수준(보통 0.05)보다 작으면 귀무가설을 기각하고 시계열 x가 시계열 y의 그레인저 인과성이 있다고 결론짓습니다. BTC와 ETH의 경우, BTC가 ETH를 그레인저 인과성이 있다면 p-값이 0.05보다 작다고 할 수 있습니다.</p>
        <p><b>공적분 검정(Cointegration Test)</b>: 검정은 검정 통계량, p-값, 임계값 세 가지 값을 반환합니다. 검정 통계량이 임계값보다 작으면 귀무가설을 기각하고 시리즈가 공적분되어 있다고 결론집니다. 공적분은 두 시계열 사이에 장기적인 균형 관계가 존재한다는 것을 의미합니다. 시리즈가 서로 멀어지더라도 결국에는 균형 상태로 돌아옵니다.</p>
    </div>

    <div style="text-align: left; margin-top: 30px; margin-bottom: 60px;">
        <button id="fetchAICorrResponse" class="btn btn-primary">AI 분석 보기</button>
        <div id="CorrLoading" style="display:none;">AI가 분석중... 시간이 조금 걸리수도 있어요!</div>
        <p id="CorrAIResponse">{{ corr_chat_message }}</p>
    </div>

    <div style="text-align; center; margin-top: 50px">
        <h2>시계열 예측 지표</h2>
        <h6>다양한 시계열 예측 모델을 활용해서 30분봉 기준 미래 비트코인 선물 (BTC/USDT Perpetual) 가격 예측을 시도해봅니다. 참고용으로만 봐주세요.</h6>
    </div>
    <canvas id="btcChart" width="400" height="200"></canvas>
    <div style="text-align: left; margin-top: 50px">
        <p><b>FB Prophet</b>: FB Prophet은 Facebook에서 개발한 시계열 데이터 예측 모델로, 계절성과 휴일, 이벤트 등의 특이점을 고려하여 미래의 값을 예측할 수 있습니다. 사용이 매우 간편하며, 복잡한 파라미터 조정 없이도 좋은 예측 결과를 얻을 수 있습니다. 매출 예측, 주식 가격 예측, 날씨 예측 등 다양한 분야에서 활용이 가능합니다.</p>
        <p><b>ARIMA</b>: ARIMA 모델은 시계열 데이터의 트렌드와 계절성을 분석하여 미래 값을 예측하는 통계적 방법입니다. 이 모델은 과거의 데이터를 분석하여 데이터의 패턴을 찾아내고, 그 패턴을 바탕으로 미래의 값을 예측합니다. ARIMA 모델은 선형 모델로, 과거 데이터의 선형적 관계를 바탕으로 미래 값을 예측하며, 주식 가격, 매출 예측, 기상 예측 등 다양한 분야에서 활용됩니다.</p>
    </div>


</div>
</div>

{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Added Chart.js library -->
<script type="text/javascript">
    document.getElementById("fetchAICorrResponse").addEventListener("click", function() {
        document.getElementById("CorrLoading").style.display = "block";
        fetch("/fetch_ai_corr/")
            .then(response => response.json())
            .then(data => {
                document.getElementById("CorrAIResponse").innerText = data.chat_message;
                document.getElementById("CorrLoading").style.display = "none";
            })
            .catch(error => {
                console.error("Error fetching AI analysis:", error);
                document.getElementById("CorrLoading").style.display = "none";
            });
    });

    fetch("/fetch_forecast/")
    .then(response => response.json())
    .then(data => {
        var ctx = document.getElementById('btcChart').getContext('2d');
        var btcChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: [{
                        label: 'Bitcoin Price',
                        data: data.input_seq,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        fill: false,
                    },
                    {
                        label: 'FB Prophet',
                        data: data.prophet_forecast.map((point, i) => {
                            return {
                                x: data.labels[data.labels.length - data.prophet_forecast.length + i],
                                y: point
                            };
                        }),
                        borderColor: 'rgba(255, 99, 132, 1)',
                        fill: false,
                        pointBackgroundColor: 'rgba(255, 99, 132, 1)', // this sets the color of the points
                    },
                    {
                        label: 'ARIMA',
                        data: data.arima_forecast.map((point, i) => {
                            return {
                                x: data.labels[data.labels.length - data.arima_forecast.length + i],
                                y: point
                            };
                        }),
                        borderColor: 'rgba(0, 128, 0, 1)',
                        fill: false,
                        pointBackgroundColor: 'rgba(0, 128, 0, 1)', // this sets the color of the points
                    },
                ],
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Time',
                        },
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'USDT',
                        },
                    },
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top',
                    },
                },
            },
        });
    })
    .catch(error => {
        console.error("Error fetching forecast data:", error);
    });

</script>

<div class="footer">
    <div class="container text-center">
        <p>제휴제안: <a href="mailto:aiphabtcbusiness@gmail.com">aiphabtcbusiness@gmail.com</a></p>
    </div>
</div>
{% endblock %}
