{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <!-- jQuery JS -->
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!-- Optional: Popper.js for Bootstrap tooltips and popovers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>


    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title> Hello, AIPHABTC! </title>
</head>
<body>
<!-- navigation bar -->
{% include "navbar.html" %}
<div class="container my-3">
    <div class="row">
        <!-- 기본 템플릿 안에 삽입될 내용 start -->
        {% block content %}
        {% endblock %}
        <!-- 기본 템플릿 안에 삽입될 내용 end -->
    </div>
</div>
<!-- jQuery JS -->
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- javascript start -->
{% block script %}
{% endblock %}
<!-- javascript end -->
</body>
</html>