{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<style>
    .sidebar-item {
        border-bottom: 2px solid #000;  /* Only the bottom border */
        margin-bottom: 12px;            /* Space between items */
        border-radius: 5px;             /* Optional: rounds the corners */
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        padding: 10px 0;  /* Adjusted padding to make it slimmer */
        font-size: 0.8rem;  /* You can adjust the font size accordingly */
    }

    .container.my-3 {
        padding-bottom: 50px;  /* Adjusted space to ensure no overlap with the footer */
    }

    <style>
    /* ... (other styles) ... */

    .probabilities {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 15px;
        margin-top: 20px;
        background-color: #f9f9f9;
    }

    .probability {
        display: inline-block;
        margin-right: 20px;
    }
</style>


</style>

<!-- Sidebar -->
<div class="col-md-2">
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action sidebar-item">관점공유 게시판</a>
        <a href="{% url 'pybo:board_view' 'free_board' %}" class="list-group-item list-group-item-action sidebar-item">자유게시판</a>
        <a href="{% url 'pybo:board_view' 'technical_blog' %}" class="list-group-item list-group-item-action sidebar-item">기술 블로그</a>
        <a href="{% url 'pybo:board_view' 'trading_blog' %}" class="list-group-item list-group-item-action sidebar-item">트레이딩 블로그</a>
        <a href="{% url 'pybo:indicator_view' %}" class="list-group-item list-group-item-action sidebar-item">기술 지표 페이지</a>
        <a href="{% url 'pybo:ai_indicator_view' %}" class="list-group-item list-group-item-action sidebar-item">AI 지표 페이지</a>
        <a href="{% url 'pybo:trading_bot_view' %}" class="list-group-item list-group-item-action sidebar-item">투자봇 페이지</a>
        <a href="{% url 'pybo:free_board' %}" class="list-group-item list-group-item-action sidebar-item">대회</a>
    </div>
</div>

<div class="col-md-10">
    <div class="container my-3">
        <div style="text-align; center; margin-top: 50px">
            <h2>비트코인 선물 트레이딩 봇 페이지</h2>

            <p><strong>AIPHABOT 예측 결과</strong></p>
            <p><strong>예측 유효 시점 (KST)</strong>: {{ date_obj }} - {{ date_obj_end }}</p>
            <p>long은 모델이 계산한 이후 4시간동안 0.75% 이상 가격이 상승할 확률, short은 모델이 계산한 이후 4시간동안 0.75% 이상 가격이 떨어질 확률, hold는 모델이 계산한 이후 4시간동안 0.75% 미만으로 가격이 변동할 확률입니다.</p>
            <div class="probabilities">
                <div class="probability">
                    <strong>Long 확률:</strong> {{ long_prob|floatformat:2 }}%
                </div>
                <div class="probability">
                    <strong>Short 확률:</strong> {{ short_prob|floatformat:2 }}%
                </div>
                <div class="probability">
                    <strong>Hold 확률:</strong> {{ hold_prob|floatformat:2 }}%
                </div>
                <canvas id="myChart" width="300" height="300"></canvas>
            </div>
            <br>
            <br>
            <p><strong>CBITS 예측 결과</strong></p>
            <p>coming soon!</p>
            <br>
            <br>
            <p><strong>Bubble Detector 예측 결과</strong></p>
            <p>coming soon!</p>
            <br>
            <br>
            <p><strong>RL Bot 예측 결과</strong></p>
            <p>coming soon!</p>

        </div>
    </div>
</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
        var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Long', 'Short', 'Hold'],
            datasets: [{
                data: [{{ long_prob }}, {{ short_prob }}, {{ hold_prob }}],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1,
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: true,
        },
    });
</script>

<div class="footer">
    <div class="container text-center">
        <p>제휴제안: <a href="mailto:aiphabtcbusiness@gmail.com">aiphabtcbusiness@gmail.com</a></p>
    </div>
</div>
{% endblock %}