{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
{% load static %}


<style>
    .sidebar-item {
        border-bottom: 2px solid #000;  /* Only the bottom border */
        margin-bottom: 12px;            /* Space between items */
        border-radius: 5px;             /* Optional: rounds the corners */
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        padding: 10px 0;  /* Adjusted padding to make it slimmer */
        font-size: 0.8rem;  /* You can adjust the font size accordingly */
    }

    .container.my-3 {
        padding-bottom: 50px;  /* Adjusted space to ensure no overlap with the footer */
    }

    .row.align-items-center {
        display: flex;
        align-items: center;
    }
    /* Additional styles for the toggle buttons */
    .toggle-buttons {
        padding-left: 10px; /* Spacing from the content */
        display: flex;
        flex-direction: column; /* Aligns the buttons vertically */
        justify-content: center; /* Centers the buttons vertically if they have less height than Content 3 */
    }
    .tooltip-question-mark {
        cursor: help; /* Change the cursor to indicate help/info */
        display: inline-block; /* Make sure the span behaves correctly inline */
    }

    .tooltip-inner {
        /* Adjust max-width to control the width of the tooltip */
        max-width: 300px; /* Example width */
        /* Set a min-height if you want a taller tooltip by default */
        min-height: 100px; /* Example height */
        text-align: left;
        white-space: pre-wrap; /* Ensures that the text wraps */
    }

    /* You may also want to adjust the positioning of the tooltip arrow */
    .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
        margin-left: -3px;
    }

    /* Styles for the table */
    .table {
        width: auto; /* Adjust the width as needed */
        margin: 0 auto; /* Center the table */
        border-collapse: collapse; /* Remove gaps between cells */
    }

    .table th, .table td {
        border: 1px solid #ddd; /* Add a subtle border */
        padding: 8px; /* Reduce padding for a more compact look */
        text-align: center; /* Center align the text */
    }

    .table thead {
        background-color: #f8f9fa; /* Light background for the header */
        color: #333; /* Darker text for contrast */
    }

    .table tbody tr:nth-child(odd) {
        background-color: #f2f2f2; /* Zebra striping for rows */
    }

    /* Responsive styling */
    @media (max-width: 768px) {
        .table {
            width: 100%; /* Full width on smaller screens */
        }
    }

    .correlation-toggle-buttons button {
        margin: 3px;
        padding: 5px 10px; /* Reduced padding */
        font-size: 0.8rem; /* Smaller font size */
        cursor: pointer;
        border: 1px solid #ccc; /* Thinner border */
        background-color: #f8f8f8; /* Light background for better visibility */
        border-radius: 4px; /* Slight rounding of corners */
    }

    .ratio-bar-container {
        display: flex;
        width: 100%;
        background-color: #ddd; /* Light grey background */
        height: 30px; /* Adjust as needed */
        border-radius: 5px; /* Optional: for rounded corners */
        overflow: hidden; /* Ensure the content does not spill outside the container */
    }

    .ratio-bar {
        display: flex;
        align-items: center; /* Center the text vertically */
        justify-content: center; /* Center the text horizontally */
        color: white; /* Text color */
        font-weight: bold; /* Bold text */
        height: 100%; /* Full height of the container */
    }

    .btn-ratio-toggle {
        padding: 5px 15px;
        margin: 0 5px;
        border: none;
        background-color: #f1f1f1;
        color: #333;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-ratio-toggle:hover {
        background-color: #e7e7e7;
    }

    .btn-ratio-toggle.active {
        background-color: #007bff;
        color: white;
    }

    .gpt-toggle-buttons button {
        margin: 3px;
        padding: 5px 10px; /* Reduced padding */
        font-size: 0.8rem; /* Smaller font size */
        cursor: pointer;
        border: 1px solid #ccc; /* Thinner border */
        background-color: #f8f8f8; /* Light background for better visibility */
        border-radius: 4px; /* Slight rounding of corners */
    }

    .news-table {
        display: table;
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

    .news-row {
        display: table-row;
        background-color: #f9f9f9;
        transition: background-color 0.3s;
    }

    .news-row:nth-child(odd) {
        background-color: #f2f2f2;
    }

    .news-row:hover {
        background-color: #eaeaea;
    }

    .news-cell {
        display: table-cell;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        position: relative;  /* for tooltip positioning */
    }

    .title-cell {
        font-weight: bold;
        color: #333;
        cursor: help; /* indicates that a tooltip is available */
    }

    .datetime-cell {
        color: #666;
        font-size: 0.9em;
    }

    /* Tooltip styling */
    .title-cell:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 0;
        bottom: 100%;  /* Position above the title */
        margin-bottom: 10px; /* Lift the tooltip up */
        background-color: #333;
        color: white;
        padding: 10px 15px;
        border-radius: 6px;
        font-size: 0.9em;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        max-width: 400px;
        white-space: normal;
        text-align: left;
        overflow-y: auto;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }

    .title-cell:hover::after {
        opacity: 1;
        visibility: visible;
    }

    .sentiment-scores {
        margin: 20px 0;
    }

    .sentiment-score {
        background-color: #f2f2f2;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
    }

    .sentiment-bar {
        height: 20px;
        background-color: #4caf50;
        transition: width 0.3s ease;
    }

    .sentiment-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
    }

    .indicators-list {
        margin-top: 20px;
    }

    .indicators-list table {
        width: 100%;
        border-collapse: collapse;
    }

    .indicators-list th, .indicators-list td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    .indicators-list th {
        background-color: #f8f9fa;
    }

    .indicators-list tr:hover {
        background-color: #f2f2f2;
    }

    .indicators-list td {
        font-size: 14px;
    }
</style>

<!-- Main Container -->
<div class="container my-3">
    <h3>AIPHABTC 비트코인 분석 대시보드</h3>
    <!-- Toggle Buttons for Platform and Language -->
    <div class="row">
        <div class="col-12 text-right">
        <!-- Platform Toggle Buttons with a margin-bottom for spacing -->
            <div class="btn-group mb-3 d-inline-block" role="group" aria-label="Platform Toggle">
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'upbit.png' %}" alt="Upbit Icon" style="height: 20px; margin-right: 5px;">
                    Upbit
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'bitget_v2.png' %}" alt="Bitget Icon" style="height: 20px; margin-right: 5px;">
                    Bitget
                </button>
            </div>
        </div>
        <div class="col-12 text-right">
            <!-- Language Toggle Buttons -->
            <div class="btn-group d-inline-block" role="group" aria-label="Language Toggle">
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'korean.png' %}" alt="Korean Flag" style="height: 20px; margin-right: 5px;">
                    한글
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'english.png' %}" alt="English Flag" style="height: 20px; margin-right: 5px;">
                    English
                </button>
            </div>
        </div>
    </div>

    <!-- Row for three columns -->
    <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
            <!-- Content for the first column -->
            <div class="sidebar-item">트레이딩 봇 지표</div>
                <div style="text-align; center; margin-top: 10px">
                    <p>알파비트 인공지능 팀이 지속적으로 연구 및 개발하고 있는 비트코인 선물 투자봇들입니다</p>
                    <p>
                        <strong>AIPHABOT 예측 결과</strong>
                        <span class="tooltip-question-mark" data-toggle="tooltip" data-html="true" title="1시간 봇: long은 예측 유효 시점동안 0.5% 이상 시가 기준 가격이 오를 확률 short은 0.5% 이상 가격이 내릴 확률 hold는 0.5%미만으로 가격이 변동할 확률입니다. 4시간 봇: long은 예측 유효 시점동안 0.75% 이상 시가 기준 가격이 오를 확률 short은 0.75% 이상 가격이 내릴 확률 hold는 0.75% 미만으로 가격이 변동할 확률입니다. 1d 봇: long은 예측 유효 시점동안 3% 이상 시가 기준 가격이 오를 확률 short은 3% 이상 가격이 내릴 확률 hold는 3% 미만으로 가격이 변동할 확률입니다. 현재는 가벼운 단일 XGBoost 모델로 구성되어 있으나 업데이트를 거치면서 더 강력한 AIPHABOT을 출시할 예정입니다. 각 모델은 1시간, 4시간, 1일마다 업데이트 됩니다.">[?]</span>
                        <div class="btn-group" role="group" aria-label="Timeframe Toggles">
                            <button type="button" id="btn1h_aiphabot" class="btn btn-outline-secondary btn-sm">1h</button>
                            <button type="button" id="btn4h_aiphabot" class="btn btn-outline-secondary btn-sm">4h</button>
                            <button type="button" id="btn1d_aiphabot" class="btn btn-outline-secondary btn-sm">1d</button>
                        </div>
                        <div class="probabilities" id="predictions4h" style="display: none;">
                            <p>예측 유효 시점 (KST): {{ aiphabot_date_obj4h }} - {{ aipha_date_obj_end4h }}</p>
                            <p>진입 가격 (USDT): {{ aipha_enter_price4h }}</p>
                            <p>Long Take Profit (USDT): {{ aipha_long_take_profit4h|floatformat:2 }}</p>
                            <p>Short Take Profit (USDT): {{ aipha_short_take_profit4h|floatformat:2 }}</p>
                            <div class="probabilities">
                                <div class="probability">
                                    <strong>Long 확률:</strong> {{ aiphabot_long_prob_4h|floatformat:2 }}%
                                </div>
                                <div class="probability">
                                    <strong>Short 확률:</strong> {{ aiphabot_short_prob_4h|floatformat:2 }}%
                                </div>
                                <div class="probability">
                                    <strong>Hold 확률:</strong> {{ aiphabot_hold_prob_4h|floatformat:2 }}%
                                </div>
                                <canvas id="myChart4h" width="250" height="250"></canvas>
                            </div>
                        </div>

                        <div class="probabilities" id="predictions1h">
                            <p>예측 유효 시점 (KST): {{ aiphabot_date_obj1h }} - {{ aipha_date_obj_end1h }}</p>
                            <p>진입 가격 (USDT): {{ aipha_enter_price1h }}</p>
                            <p>Long Take Profit (USDT): {{ aipha_long_take_profit1h|floatformat:2 }}</p>
                            <p>Short Take Profit (USDT): {{ aipha_short_take_profit1h|floatformat:2 }}</p>
                            <div class="probabilities">
                                <div class="probability">
                                    <strong>Long 확률:</strong> {{ aiphabot_long_prob_1h|floatformat:2 }}%
                                </div>
                                <div class="probability">
                                    <strong>Short 확률:</strong> {{ aiphabot_short_prob_1h|floatformat:2 }}%
                                </div>
                                <div class="probability">
                                    <strong>Hold 확률:</strong> {{ aiphabot_hold_prob_1h|floatformat:2 }}%
                                </div>
                                <canvas id="myChart1h" width="250" height="250"></canvas>
                            </div>
                        </div>

                        <div class="probabilities" id="predictions1d" style="display: none;">
                            <p>예측 유효 시점 (KST): {{ aipha_date_obj1d }} - {{ aipha_date_obj_end1d }}</p>
                            <p>진입 가격 (USDT): {{ aipha_enter_price1d|floatformat:2 }}</p>
                            <p>Long Take Profit (USDT): {{ aipha_long_take_profit1d|floatformat:2 }}</p>
                            <p>Short Take Profit (USDT): {{ aipha_short_take_profit1d|floatformat:2 }}</p>
                            <div class="probabilities">
                                <div class="probability">
                                    <strong>Long 확률:</strong> {{ aiphabot_long_prob_1d|floatformat:2 }}%
                                </div>
                                <div class="probability">
                                    <strong>Short 확률:</strong> {{ aiphabot_short_prob_1d|floatformat:2 }}%
                                </div>
                                <div class="probability">
                                    <strong>Hold 확률:</strong> {{ aiphabot_hold_prob_1d|floatformat:2 }}%
                                </div>
                                <canvas id="myChart1d" width="250" height="250"></canvas>
                            </div>
                        </div>
                        <a href="https://ieeexplore.ieee.org/document/10014986">[참고 논문]</a>
                    </p>
                    <br>
                    <p>
                        <strong>15분 단타봇 예측 결과</strong>
                        <span class="tooltip-question-mark" data-toggle="tooltip" data-html="true" title="다음 15분동안 비트코인 가격이 오를지 내릴지 예측해서 확률을 보여주는 봇 지표입니다. AIPHABOT이나 CBITS와 다르게 n시간봉동안 x%가 오르는 확률을 예측하는것이 아닌, 종가 기준으로 가격이 오를지 내릴지를 예측합니다.">[?]</span>
                        <p>예측 유효 시점 (KST): {{ aipha_date_obj15m }} - {{ aipha_date_obj_end15m }}</p>
                        <p>진입 가격 (USDT): {{ aipha_enter_price15m|floatformat:2 }}</p>
                        <div class="probabilities">
                            <div class="probability">
                                <strong>Long 확률:</strong> {{ aipha_long_prob_15m|floatformat:2 }}%
                            </div>
                            <div class="probability">
                                <strong>Short 확률:</strong> {{ aipha_short_prob_15m|floatformat:2 }}%
                            </div>
                            <canvas id="myChart15m" width="250" height="250"></canvas>
                        </div>
                        <br>
                        <br>
                    </p>
                    <br>
                    <p>
                        <strong>기술적 지표 투표 결과</strong>
                        <div class="btn-group" role="group" aria-label="Technical Indicators Timeframes">
                            <button type="button" id="btn-technical-1h" class="btn btn-outline-secondary btn-sm">1h</button>
                            <button type="button" id="btn-technical-4h" class="btn btn-outline-secondary btn-sm">4h</button>
                            <button type="button" id="btn-technical-1d" class="btn btn-outline-secondary btn-sm">1d</button>
                        </div>
                        <div id="technical-indicators-1h">
                            <div class="summary">
                                <span>Summary: <strong>{{ technical_recommended_action_1h }}</strong></span>
                            </div>
                            <div class="indicators-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for indicator, value in technical_actions_1h.items %}
                                        <tr>
                                            <td>{{ indicator }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="technical-indicators-4h">
                            <div class="summary">
                                <span>Summary: <strong>{{ technical_recommended_action_4h }}</strong></span>
                            </div>
                            <div class="indicators-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for indicator, value in technical_actions_1h.items %}
                                        <tr>
                                            <td>{{ indicator }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="technical-indicators-1d">
                            <div class="summary">
                                <span>Summary: <strong>{{ technical_recommended_action_1d }}</strong></span>
                            </div>
                            <div class="indicators-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for indicator, value in technical_actions_1d.items %}
                                        <tr>
                                            <td>{{ indicator }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </p>
                </div>
        </div>

        <!-- Second Column -->
        <div class="col-md-4">
            <div class="sidebar-item">시계열 예측 지표</div>
            <p>
                <strong>크립토 공포 탐욕 지수</strong>
                <span class="tooltip-question-mark" data-toggle="tooltip" data-html="true" title="크립토 공포와 탐욕 지수는 투자자들의 시장에 대한 감정을 나타내는 지표 중 하나로 사용됩니다. 이 지수는 0에서 100 사이의 값을 가지며, 0에 가까울수록 투자자들이 두려움을 느끼고 있음을, 100에 가까울수록 탐욕적임을 나타냅니다. 이 지수는 주로 시장의 극단적인 감정 상태를 포착해 반대 방향으로의 변화를 예측하는데 사용됩니다. 지수가 탐욕으로 옮겨가면 비트코인 가격이 오를 가능성이 있지만, 이는 또한 가격이 과열되어 조정을 받을 수 있는 시점에 접어들 수 있음을 의미합니다.">[?]</span>
                <p>비트코인 및 기타 대형 암호화폐를 위한 과거 7일동안의 공포 탐욕 지수입니다 </p>
                <p></p><a href="https://alternative.me/crypto/fear-and-greed-index/">[참고]</a></p>
                <img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" width="250" height="250" style="display: block; margin-left: auto; margin-right: auto;" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Value Classification</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in data_fng %}
                        <tr>
                            <td>{{ row.timestamp }}</td>
                            <td>{{ row.value }}</td>
                            <td>{{ row.value_classification }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </p>
            <br>
            <p>
                <strong>시계열 예측 지표</strong>
                <span class="tooltip-question-mark" data-toggle="tooltip" data-html="true" title="이 결과는 참고 목적으로만 사용되어야 하며, 투자 결정에 직접적으로 활용되어서는 안됩니다. 알파비트 인공지능 연구팀은 지속적인 연구와 개발을 통해 이러한 모델들의 정확성과 다양성을 향상시키기 위해 노력하고 있습니다.">[?]</span>
                <p>다음은 비트코인의 종가를 예측하기 위해 사용된 다양한 시계열 예측 모델들의 결과입니다. 미래 6개의 타임스텝을 예측합니다.</p>
                <div class="time-series-toggle-buttons">
                        <button class="btn-ratio-toggle btn-ratio-toggle-1h">1h</button>
                        <button class="btn-ratio-toggle btn-ratio-toggle-4h">4h</button>
                        <button class="btn-ratio-toggle btn-ratio-toggle-1d">1d</button>
                </div>
                <canvas id="btcChart" width="500" height="500"></canvas>
            </p>
            <br>
            <p>
                <a href="https://www.coinness.com" target="_blank" style="text-decoration: none; color: inherit;">
                    <img src="{% static 'coinness.png' %}" alt="Coinness Icon" style="vertical-align: middle; margin-right: 5px; height: 30px;">
                </a>
                <strong>코인니스 최신 속보</strong>
                <div class="news-table">
                    {% for item in scraped_data %}
                        <div class="news-row">
                            <div class="news-cell title-cell" data-tooltip="{{ item.contents }}">
                                <span class="news-title">{{ item.titles }}</span>
                            </div>
                            <div class="news-cell datetime-cell">
                                <span class="news-datetime">{{ item.datetimes|date:"Y-m-d H:i" }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <p> 딥러닝 언어모델 비트코인 감성 점수 </p>
                <small>최근 속보들이 비트코인 가격에 얼만큼 호재, 악재, 중립성을 띄고 있는지 CryptoBERT 언어모델이 분석한 결과입니다.</small>
                <div class="sentiment-scores">
                    {% for score in avg_sentiment_scores %}
                        <div class="sentiment-score">
                            <span class="sentiment-label">{{ sentiment_labels|get_item:forloop.counter0 }}:</span>
                            <div class="sentiment-bar" style="width: {{ score }}%;"></div>
                            <span class="sentiment-text" style="color: black;">{{ score|floatformat:2 }}%</span>
                        </div>
                    {% endfor %}
                </div>
            </p>
        </div>

        <!-- Third Column -->
        <div class="col-md-4">
            <div class="sidebar-item">LLM 해석 지표</div>
            <p>
                <strong>글로벌 크립토 시장 정보</strong>
                <p>암호화폐 시장의 전반적인 정보입니다</p>
                <p></p><a href="https://www.coinlore.com/ko/cryptocurrency-data-api">[참고]</a></p>
                <table class="table">
                    {% for row in data_global %}
                        <tr>
                            <th>코인 수</th>
                            <td>{{ row.coins_count }}</td>
                        </tr>
                        <tr>
                            <th>활성 시장</th>
                            <td>{{ row.active_markets }}</td>
                        </tr>
                        <tr>
                            <th>시가 총액 ($)</th>
                            <td>{{ row.total_mcap |floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <th>총 거래량 ($)</th>
                            <td>{{ row.total_volume |floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <th>BTC 도미넌스 (%)</th>
                            <td>{{ row.btc_d |floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <th>ETH 도미넌스 (%)</th>
                            <td>{{ row.eth_d |floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <th>시가 총액 변화 (%)</th>
                            <td>{{ row.mcap_change |floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <th>거래량 변화 (%)</th>
                            <td>{{ row.volume_change |floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </p>
            <br>
            <p>
                <strong>김치 프리미엄 정보</strong>
                <span class="tooltip-question-mark" data-toggle="tooltip" data-html="true" title="김치 프리미엄이란 용어는 한국의 암호화폐 가격이 해외 거래소의 가격보다 높을 때 사용됩니다. 김프가 높다는 것은 해외 거래소에서 상장된 코인의 가격이 한국 내에서 거래되는 가격보다 상대적으로 저렴하다는 의미입니다.">[?]</span>
                <p>비트겟과 업비트에서 가져온 BTC 가격 정보로 계산된 수치입니다 (비트겟/업비트 프리미엄)</p>
                <table class="table">
                            <tr>
                                <th>현재 시간</th>
                                <td>{{ kimchi_data.current_time }}</td>
                            </tr>
                            <tr>
                                <th>USD/KRW</th>
                                <td>{{ kimchi_data.now_usd_krw |floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <th>BTC 가격 (KRW)</th>
                                <td>{{ kimchi_data.now_upbit_price |floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <th>BTC 가격 (USDT)</th>
                                <td>{{ kimchi_data.now_bitget_price |floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <th>BTC 김프 (%)</th>
                                <td>{{ kimchi_data.kp |floatformat:2 }}</td>
                            </tr>
                    </table>
            </p>
            <br>
            <p>
                <strong>상관관계 정보</strong>
                <span class="tooltip-question-mark" data-toggle="tooltip" data-html="true" title="상관계수들은 -1에서 1 사이의 값을 가지며, 1에 가까울수록 두 자산 간의 양의 상관관계가 강함을, -1에 가까울수록 음의 상관관계가 강함을 의미합니다. 0은 상관관계가 없음을 나타냅니다. 상관지수들은 가장 최근 한달간의 일봉 데이터를 이용해서 계산되었습니다.">[?]</span>
                <div class="correlation-toggle-buttons">
                    <button onclick="showCorrelation('pearson')">Pearson</button>
                    <button onclick="showCorrelation('spearman')">Spearman</button>
                    <button onclick="showCorrelation('kendall')">Kendall's Tau</button>
                </div>
                <div id="pearson" class="correlation-table">
                <table class="table">
                    <h6>Pearson Correlation</h6>
                    <tr>
                    <th></th>
                    {% for asset in pearson_corr.keys %}
                        <th>{{ asset }}</th>
                    {% endfor %}
                    </tr>
                    {% for index, row in pearson_corr.items %}
                        <tr>
                            <td>{{ index }}</td>
                            {% for col, value in row.items %}
                                <td>{{ value |floatformat:2 }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table></div>

                <div id="spearman" class="correlation-table" style="display:none;">
                <table class="table">
                    <h6>Spearman Correlation</h6>
                    <tr>
                    <th></th>
                    {% for asset in spearman_corr.keys %}
                        <th>{{ asset }}</th>
                    {% endfor %}
                    </tr>
                    {% for index, row in spearman_corr.items %}
                        <tr>
                            <td>{{ index }}</td>
                            {% for col, value in row.items %}
                                <td>{{ value |floatformat:2 }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table></div>

                <div id="kendall" class="correlation-table" style="display:none;">
                <table class="table">
                    <h6>Kendall's Tau</h6>
                    <tr>
                    <th></th>
                    {% for asset in kendall_corr.keys %}
                        <th>{{ asset }}</th>
                    {% endfor %}
                    </tr>
                    {% for index, row in kendall_corr.items %}
                        <tr>
                            <td>{{ index }}</td>
                            {% for col, value in row.items %}
                                <td>{{ value |floatformat:2 }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table></div>
            </p>
            <br>
            <p>
                <strong>GPT-4 차트 애널리스트</strong>
                <span class="tooltip-question-mark" data-toggle="tooltip" data-html="true" title="선택하신 시간대의 분석보기를 누르시면 GPT-4가 최근 차트 데이터를 이용해서 분석을 진행합니다. RSI, MACD, Bollinger Band, 스토캐스틱 등 다양한 기술적 지표들을 계산하고 해석해서 현재 추세를 설명합니다. 상황에 따라 분석 시간이 오래 걸릴수도 있으니 이해 부탁드립니다 :)">[?]</span>
                <div class="gpt-toggle-buttons">
                    <button id="analysis1h" class="btn">1h</button>
                    <button id="analysis4h" class="btn">4h</button>
                    <button id="analysis1d" class="btn">1d</button>
                </div>
                <div style="text-align: left; margin-top: 20px; margin-bottom: 10px;">
                    <button id="fetchTechnicalAIResponse" class="btn btn-primary">AI 분석 보기</button>
                    <div id="TechnicalLoading" style="display:none;">AI가 분석중... 시간이 조금 걸릴수도 있어요!</div>
                </div>
                <!-- TradingView Widget BEGIN -->
                <div id="tradingview_1h" class="tradingview-widget-container" style="height:500px;width:100%;">
                    <div class="tradingview-widget-container" style="height:20%";width:100%>
                      <div id="tradingview_e98d4" style="height:calc(500px - 32px);width:100%"></div>
                      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
                      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                      <script type="text/javascript">
                      new TradingView.widget(
                      {
                      "autosize": true,
                      "symbol": "BITGET:BTCUSDT.P",
                      "interval": "60",
                      "timezone": "Etc/UTC",
                      "theme": "light",
                      "style": "1",
                      "locale": "en",
                      "enable_publishing": false,
                      "allow_symbol_change": true,
                      "studies": [
                        "STD;RSI"
                      ],
                      "container_id": "tradingview_e98d4"
                    }
                      );
                      </script>
                    </div>
                </div>

                <div id="tradingview_4h" class="tradingview-widget-container" style="height:500px;width:100%;display:none;">
                    <div class="tradingview-widget-container" style="height:100%;width:100%">
                      <div id="tradingview_c9053" style="height:calc(100% - 32px);width:100%"></div>
                      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
                      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                      <script type="text/javascript">
                      new TradingView.widget(
                      {
                      "autosize": true,
                      "symbol": "BITGET:BTCUSDT.P",
                      "interval": "240",
                      "timezone": "Etc/UTC",
                      "theme": "light",
                      "style": "1",
                      "locale": "en",
                      "enable_publishing": false,
                      "allow_symbol_change": true,
                      "studies": [
                        "STD;RSI"
                      ],
                      "container_id": "tradingview_c9053"
                    }
                      );
                      </script>
                    </div>
                </div>

                <div id="tradingview_1d" class="tradingview-widget-container" style="height:500px;width:100%;display:none;">
                    <div class="tradingview-widget-container" style="height:100%;width:100%">
                      <div id="tradingview_d2f90" style="height:calc(100% - 32px);width:100%"></div>
                      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
                      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                      <script type="text/javascript">
                      new TradingView.widget(
                      {
                      "autosize": true,
                      "symbol": "BITGET:BTCUSDT.P",
                      "interval": "D",
                      "timezone": "Etc/UTC",
                      "theme": "light",
                      "style": "1",
                      "locale": "en",
                      "enable_publishing": false,
                      "allow_symbol_change": true,
                      "studies": [
                        "STD;RSI"
                      ],
                      "container_id": "tradingview_d2f90"
                    }
                      );
                      </script>
                    </div>
                </div>
                <p id="TechnicalAiResponse">{{ technical_chat_message }}</p> <!— response —>
            </p>
        </div>
    </div>
</div>


<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Added Chart.js library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    // Initialize tooltips
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // Function to fetch AI (GPT) analysis
    var selectedTimeframe = '1h'; // Default to 1h
    function fetchAIAnalysis(timeframe) {
        document.getElementById('TechnicalLoading').style.display = 'block'; // Show loading text
        document.getElementById('TechnicalAiResponse').innerHTML = ''; // Clear previous response
        // Make an AJAX request to the server
        $.ajax({
            url: '/fetch-gpt-analysis/' + timeframe, // The URL to your Django view function
            type: 'GET',
            success: function (response) {
                document.getElementById('TechnicalAiResponse').innerHTML = response.chat_message; // Display the response
                document.getElementById('TechnicalLoading').style.display = 'none'; // Hide loading text
            },
            error: function (error) {
                console.error('Error fetching AI analysis:', error);
                document.getElementById('TechnicalLoading').style.display = 'none'; // Hide loading text
                document.getElementById('TechnicalAiResponse').innerHTML = '분석을 가져오는데 실패했습니다.'; // Display error message
            }
        });
    }

    function showTradingView(timeframe) {
        // Hide all widgets
        document.getElementById('tradingview_1h').style.display = 'none';
        document.getElementById('tradingview_4h').style.display = 'none';
        document.getElementById('tradingview_1d').style.display = 'none';
        // Show the selected widget
        document.getElementById('tradingview_' + timeframe).style.display = 'block';
    }

    // Event listeners for timeframe buttons
    document.getElementById('analysis1h').addEventListener('click', function() { selectedTimeframe = '1h'; showTradingView('1h'); });
    document.getElementById('analysis4h').addEventListener('click', function() { selectedTimeframe = '4h'; showTradingView('4h'); });
    document.getElementById('analysis1d').addEventListener('click', function() { selectedTimeframe = '1d'; showTradingView('1d'); });
    // Event listener for the "AI 분석 보기" button
    document.getElementById('fetchTechnicalAIResponse').addEventListener('click', function() {
        fetchAIAnalysis(selectedTimeframe); // Fetch analysis for the selected timeframe
    });

    // For showing correlation
    function showCorrelation(type) {
        // Hide all tables
        document.querySelectorAll('.correlation-table').forEach(table => {
            table.style.display = 'none';
        });
        // Show the selected table
        document.getElementById(type).style.display = 'block';
    }

    // Function to initialize pie charts
    function initPieChart(chartId, data, backgroundColor, borderColor) {
        var ctx = document.getElementById(chartId).getContext('2d');
        return new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Long', 'Short', 'Hold'],
                datasets: [{
                    data: data,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: true
            }
        });
    }

    function initPieChartBinary(chartId, data, backgroundColor, borderColor) {
        var ctx = document.getElementById(chartId).getContext('2d');
        return new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Long', 'Short'],
                datasets: [{
                    data: data,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: true
            }
        });
    }
    // Toggle between different bot predictions
    function toggleBotPrediction(timeframe) {
        // Hide all predictions
        document.getElementById('predictions1h').style.display = 'none';
        document.getElementById('predictions4h').style.display = 'none';
        document.getElementById('predictions1d').style.display = 'none';

        // Show the selected prediction
        document.getElementById('predictions' + timeframe).style.display = 'block';
    }

    // Event listeners for the timeframe buttons
    document.getElementById('btn1h_aiphabot').addEventListener('click', function() { toggleBotPrediction('1h'); });
    document.getElementById('btn4h_aiphabot').addEventListener('click', function() { toggleBotPrediction('4h'); });
    document.getElementById('btn1d_aiphabot').addEventListener('click', function() { toggleBotPrediction('1d'); });

    // Initialize all pie charts with respective data
    var myChart15 = initPieChartBinary('myChart15m', [{{ aipha_long_prob_15m }}, {{ aipha_short_prob_15m }}],
        ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)'],
        ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)']
    );
    var myChart1h = initPieChart('myChart1h', [{{ aiphabot_long_prob_1h }}, {{ aiphabot_short_prob_1h }}, {{ aiphabot_hold_prob_1h }}],
        ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(255, 206, 86, 0.2)'],
        ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)', 'rgba(255, 206, 86, 1)']
    );
    var myChart4h = initPieChart('myChart4h', [{{ aiphabot_long_prob_4h }}, {{ aiphabot_short_prob_4h }}, {{ aiphabot_hold_prob_4h }}],
        ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(255, 206, 86, 0.2)'],
        ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)', 'rgba(255, 206, 86, 1)']
    );
    var myChart1d = initPieChart('myChart1d', [{{ aiphabot_long_prob_1d }}, {{ aiphabot_short_prob_1d }}, {{ aiphabot_hold_prob_1d }}],
        ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(255, 206, 86, 0.2)'],
        ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)', 'rgba(255, 206, 86, 1)']
    );

    // Time series chart functionality

    let btcChart; // Global variable to hold the chart instance

    function updateTimeSeries(timeframe) {
        fetch(`/fetch-time-series-analysis-indicator-page/${timeframe}/`)
            .then(response => response.json())
            .then(data => {
                var ctx = document.getElementById('btcChart').getContext('2d');
                // Destroy the previous chart instance if it exists
                if (btcChart) {
                    btcChart.destroy();
                }

                btcChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [
                            {
                                label: 'Bitcoin Price',
                                data: data.input_seq,
                                borderColor: 'rgba(75, 192, 192, 1)',
                                fill: false,
                            },
                            {
                                label: 'FB Prophet',
                                data: data.prophet_forecast.map((point, i) => {
                                    return {
                                        x: data.labels[data.labels.length - data.prophet_forecast.length + i],
                                        y: point
                                    };
                                }),
                                borderColor: 'rgba(255, 99, 132, 1)',
                                fill: false,
                                pointBackgroundColor: 'rgba(255, 99, 132, 1)', // this sets the color of the points
                            },
                            {
                                label: 'ARIMA',
                                data: data.arima_forecast.map((point, i) => {
                                    return {
                                        x: data.labels[data.labels.length - data.arima_forecast.length + i],
                                        y: point
                                    };
                                }),
                                borderColor: 'rgba(0, 128, 0, 1)',
                                fill: false,
                                pointBackgroundColor: 'rgba(0, 128, 0, 1)', // this sets the color of the points
                            },
                        ],
                    },
                    options: {
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: 'Time',
                                },
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: 'USDT',
                                },
                            },
                        },
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top',
                            },
                        },
                    },
                });
            })
            .catch(error => {
                console.error("Error fetching forecast data:", error);
                // Optionally, update the UI to show an error message
            });
    }

    // Event listeners for time frame toggle buttons
    document.querySelector('.btn-ratio-toggle-1h').addEventListener('click', function() { updateTimeSeries('1h'); });
    document.querySelector('.btn-ratio-toggle-4h').addEventListener('click', function() { updateTimeSeries('4h'); });
    document.querySelector('.btn-ratio-toggle-1d').addEventListener('click', function() { updateTimeSeries('1d'); });

    // function to toggle the display of technical indicators
    function toggleTechnicalIndicators(timeframe) {
        document.getElementById('technical-indicators-1h').style.display = 'none';
        document.getElementById('technical-indicators-4h').style.display = 'none';
        document.getElementById('technical-indicators-1d').style.display = 'none';
        // Show the selected timeframe's technical indicators
        document.getElementById('technical-indicators-' + timeframe).style.display = 'block';
    }

    document.getElementById('btn-technical-1h').addEventListener('click', function() { toggleTechnicalIndicators('1h'); });
    document.getElementById('btn-technical-4h').addEventListener('click', function() { toggleTechnicalIndicators('4h'); });
    document.getElementById('btn-technical-1d').addEventListener('click', function() { toggleTechnicalIndicators('1d'); });

    // Default to 1-hour bot prediction on page load
    document.addEventListener('DOMContentLoaded', function() {
        toggleBotPrediction('1h');
        updateTimeSeries('1h'); // Load 1-hour chart analysis by default
        toggleTechnicalIndicators('1h'); // Load 1-hour technical voter by default
    });
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


<div class="footer">
    <div class="container text-center">
        <p>제휴제안: <a href="mailto:aiphabtcbusiness@gmail.com">aiphabtcbusiness@gmail.com</a> | 본 지표와 봇들은 투자 권유용이 아닙니다. 투자는 항상 본인이 신중하게 결정해서 하시길 바랍니다.</p>
    </div>
</div>
{% endblock %}
