{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<style>
    #profile_base {
        background-color: #f8f8f8;  /* Light grey background */
        padding: 20px;  /* Padding inside the container */
        border-radius: 10px;  /* Rounded corners */
        width: 88%;
        max-width: 888px;
        margin: 20px auto;  /* Centering the container */
    }

    .profile_label {
        font-size: 16px;  /* Font size */
        color: #333;  /* Text color */
        font-weight: bold;  /* Bold text */
        display: block;  /* Block-level element */
        margin-bottom: 5px;  /* Space below the label */
    }

    .profile_info {
        font-size: 14px;  /* Font size */
        color: #555;  /* Text color */
        background-color: #fff;  /* White background */
        padding: 10px;  /* Padding inside the paragraph */
        border-radius: 5px;  /* Slightly rounded corners */
        margin-bottom: 20px;  /* Space below the paragraph */
    }

    .profile_input {
        width: 100%; /* Takes the full width of its container */
        padding: 10px; /* Adds some padding inside the input */
        font-size: 16px; /* Adjusts the font size */
        margin-bottom: 20px; /* Adds some space below the input */
        border-radius: 5px; /* Slightly rounded corners */
        border: 1px solid #ccc; /* Adds a light border */
    }

    .profile_button {
        background-color: #4CAF50; /* Green background */
        color: white; /* White text */
        padding: 12px 20px; /* Padding */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        width: 100%; /* Takes the full width of its container */
    }

    .profile_button:hover {
        background-color: #45a049; /* Darker green on hover */
    }

    #messages {
        width: 88%;
        max-width: 888px;
        margin: 20px auto 0;
        border-radius: 5px;
    }

    #messages p {
        padding: 15px;
        margin: 0;
        border-radius: 5px;
        color: white;
        font-size: 16px;
    }

    #messages p.info {
        background-color: #4CAF50; /* Green background for info */
    }

    #messages p.error {
        background-color: #f44336; /* Red background for errors */
    }

    #messages p.warning {
        background-color: #ff9800; /* Orange background for warnings */
    }

    #messages p.success {
        background-color: #4CAF50; /* Green background for success */
    }

    #profile_base h3 {
        margin-bottom: 40px;  /* Adjust as per your requirement */
    }
</style>

<div class="col-md-10">
    <div id="profile_base">
        <h3>{{ profile.user.username }}의 계정</h3>

        <p>프로필 이미지</p>
        {% if profile.image %}
            <img src="{{ profile.image.url }}" style="width: 300px; height: 300px; object-fit: cover; border-radius: 50%; margin-bottom: 20px;" alt="Profile Image">
        {% else %}
            <p>프로필 이미지가 없습니다.</p>
        {% endif %}

        <label for="intro" class="profile_label">한줄소개</label>
        <p id="intro" class="profile_info mb-4">{{ profile.intro }}</p>

        <label for="score" class="profile_label">Points</label>
        <p id="score" class="profile_info mb-4">{{ profile.score }}</p>
    </div>
</div>
{% endblock %}
